.e1nzilvr5 p{
    font-family: Cambria, Georgia, serif; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

.e1y5xkzn3{
    font-family: Cambria, Georgia, serif; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

.ef3psqc12 {
    background-color: #ff0149; /* Green */
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}

.ef3psqc12:hover {
    color: rgb(255, 255, 255); /* Change the text color to black when hovering */
}


.e1nzilvr1{
   color: #ff0149; 
   font-family: Cambria, Georgia, serif;
}

.ea3mdgi5{
    background-color: #ade4ff; 
}

.st-ae st-bc st-bd st-be st-bf st-bg st-bh st-bi st-bj st-bk st-bl st-ah st-bm st-bn st-bo st-bp st-bq st-br st-bs st-bt st-b5 st-b6 st-b7 st-bu st-b9 st-ba st-bb st-bv st-bw st-bx st-by st-bz st-c0{
    background-color: #ffffff; 
}